body {
  background-image:url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01240b556885de0000009fcb2329db.jpg&refer=http%3A%2F%2Fimg.zcool.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1643274614&t=15d83ee1a057746e6c9d6df8eb458e31');
  background-repeat:repeat;
  background-position: center top;
  background-size: width 1002px;
  margin-right: 30%;
  margin-left: 5%;
  margin-top: 5%;
  font-family: fantasy;
}

div {
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  color: rgb(149 45 31);
}

h1 { 
  font-family: fantasy;
  font-variant: small-caps;
  font-stretch: expanded;
  font-weight: bold;
  font-size:80px;
  margin-bottom:-10;
  color: rgb(254 254 252);
}

h2 { 
  font-family: fantasy;
  font-variant: small-caps;
  font-stretch: expanded;
  font-weight:bolder;
  font-size:20px;
  margin:-5;
  color: rgb(149 45 31);
}

p {
  font-family:monospace;
  color: rgb(81, 69, 94);
  text-align: center;
  font-size:15px;
}

#indextitle {
  font-size:18px;
}

nav ul{
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: expanded;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(203 133 70);
}
  
nav li {
  float:left;
 }
  
nav li a {
  display: block;
  color: rgb(28 32 32);
  text-align: center;
  padding: 14px 16px;    
  text-decoration: none;
  font-style: italic;
  font-size: 20px;
}

nav li a:hover {
  background-color: rgb(254 254 252);
  color:rgb(28 32 32);
}

nav li a:active {
  background-color: rgb(28 32 32);
  color: rgb(254 254 252);
}

#content{
  background-color: rgb(247, 186, 111);
  background-size: margin 0%; 
  padding: 5%;
}

a {
  text-decoration:none;
  color:rgb(149 45 31); 
}

a:hover{
  text-decoration:none;
  font-weight: bold;
  color:rgb(254 254 252;;
}

#exhibit{
  display: grid;
  grid-gap: auto;
  grid-template-columns: repeat(1, auto); 
  grid-area: content;
}

#grid_cell a:link{
  font-family:fantasy;
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  color:rgb(70 61 46);
}

#grid_cell a:visited{
  font-size: 15px;
  text-align: left;
  margin: 5%;
  color:rgb(70 61 46);
}

#grid_cell a:hover {
  font-weight: bold;
  color: rgb(149 45 31);
}

#grid_cell a:active {
  font-weight: bold;
  color: rgb(254 254 252);
}

#footer {
  color:rgb(254 254 252)
}