body {
  background-image:url(images/background3.jpeg);
  background-repeat:repeat;
  background-position: center top;
  background-size: width 1002px;
  margin-right: 30%;
  margin-left: 5%;
  margin-top: 5%;
  font-family: fantasy;
}

div {
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  color: rgb(149 45 31);
}

h1 { 
  font-family: fantasy;
  font-variant: small-caps;
  font-stretch: expanded;
  font-weight: bold;
  font-size:80px;
  margin-bottom:-8;
  color: rgb(254 254 252);
  text-shadow: 10px 1px 10px black;
}

h2 { 
  font-family: fantasy;
  font-variant: small-caps;
  font-stretch: expanded;
  font-weight: bolder;
  font-size: 22px;
  padding-top:6%;
  color: rgb(149 45 31);
}

p {
  font-family:monospace;
  color: rgb(81, 69, 94);
  text-align: center;
  font-size:15px;
}

#intro {
  text-align: justify;
  padding-left:10%;
  padding-right:10%;
  padding-bottom:6%;
  padding-top:1%;
  font-family: fantasy;
}

nav ul{
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: expanded;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(203 133 70);
}
  
nav li {
  float:left;
 }
  
nav li a {
  display: block;
  color: rgb(28 32 32);
  text-align: center;
  padding: 14px 16px;    
  text-decoration: none;
  font-style: italic;
  font-size: 20px;
}

nav li a:hover {
  background-color: rgb(254 254 252);
  color:rgb(28 32 32);
}

nav li a:active {
  background-color: rgb(28 32 32);
  color: rgb(254 254 252);
}

#content{
  background-color:rgba(246,185,117,0.9);
  padding:0%;
}

#exhibit {
  display: grid;
  grid-template-columns: repeat(6,120px);
  grid-template-rows: auto;
  grid-gap: 10px; 
  justify-content: center;
  padding:10%;
  background-image: url('images/background2.jpeg');
  background-position: center;
  background-size: contain;
}

#grid_cell {
  padding:0;
  margin:0;
  border:2px groove rgb(203 133 70);
}

#grid_cell a:hover{
  padding:0;
  margin:0;
  border:2px groove rgb(149 45 31);
}

#footer {
  text-shadow: 1px 1px 1px black;
}

a {
  text-decoration:none;
  color:rgb(149 45 31); 
}

a:hover{
  text-decoration:none;
  font-weight: bold;
  color:rgb(254 254 252);
  border:1px solid white;
}